<!DOCTYPE html>
<html lang="es">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">

          <!-- Seleccione imagen de top -->
          <style media="screen">
          .breadcrumb_bg {
            background-image: url("{{ if isset .Params "img" }} {{ .Params.img }} {{else}} https://www.kdeblog.com/wp-content/uploads/2015/01/Mejores-Juegos-Linux-2014-620x348.jpg {{ end }}");
          }
          </style>

          <section class="breadcrumb breadcrumb_bg">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                      <h2>
                        {{ if isset .Params "title" }}
                          {{ .Params.title }}
                        {{else}}
                          ~ LiNuXiToS ~
                        {{ end }}
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <section class="blog_area section_padding">
            <div class="container">
              <div class="row">

                <div class="col-12 antiblockpjad" id="antiblockpjad"></div>
                <div class="col-12">&nbsp;<br/></div>

                <!-- Contenido Main -->
                <div class="col-lg-8 mb-5 mb-lg-0">
                  <div class="blog_left_sidebar">
                    {{- block "main" . }}{{- end }}
                  </div>
                </div>

                <!-- Lateral Bar -->
                <div class="col-lg-4">
                  <div class="blog_right_sidebar">

                    {{- partial "widgets/search.html" -}}

                    <!-- Ultimas Publicaciones -->
                    <aside class="single_sidebar_widget popular_post_widget">
                      <h3 class="widget_title">Ultimas Publicaciones</h3>
                      {{ range first 4 .Site.RegularPages.ByDate.Reverse }}
                        {{- partial "widgets/recentposts" . -}}
                      {{ end }}
                    </aside>

                    {{- partial "widgets/categorys" . -}}

                    <aside class="single_sidebar_widget popular_post_widget">
                      {{- partial "widgets/telegram.html" . -}}
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                      {{- partial "widgets/discord.html" . -}}
                    </aside>
                  </div>
                </div>

              </div>
            </div>
          </section>

        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
