{{ define "main" }}

  <div class="single-post">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <img src="{{.Params.img}}" alt="{{ .Title }}" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <ul class="unordered-list">
            <li>Idioma: {{ range .Params.idiomas }} {{- partial "format/flag.html" . -}} {{ end }}</li>
            <li>Plataforma: {{- partial "format/platform.html" .Params.type -}}</li>
            <li>Categoria: {{ range .Params.category }} {{- partial "format/cardtag.html" . -}} {{ end }}</li>
          </ul>
        </div>
        <div class="col-lg-3">
          <a
            href="{{ .Params.download }}"
            target="_blank" rel="external"
            class="btn_1 d-none d-sm-block text-white">
            Obtener
          </a>
        </div>
      </div>
    </div>

    <div class="blog_details">

      {{ .Content }}

      <ul class="blog-info-link mt-3 mb-4">
        <li>{{ range .Params.idiomas }} {{- partial "format/flag.html" . -}} {{ end }}</li>
        <li>{{- partial "format/platform.html" .Params.type -}}</li>
        <li>{{ range .Params.category }} {{- partial "format/cardtag.html" . -}} {{ end }}</li>
       </ul>
    </div>

    <div class="comments-area">
      <script async src="https://comments.app/js/widget.js?2" data-comments-app-website="3PRYOl9n" data-limit="5" data-color="FF0000"></script>
    </div>

  </div>

{{ end }}
