<aside class="single_sidebar_widget search_widget">
  <h3 class="widget_title">Categorias</h3>
  <br />
  <a href="/tags/accion/" class="genric-btn primary-border e-large">Accion</a>
  <a href="/tags/aventura/" class="genric-btn primary-border e-large">Aventura</a>
  <a href="/tags/carreras/" class="genric-btn primary-border e-large">Carreras</a>
  <a href="/tags/deportes/" class="genric-btn primary-border e-large">Deportes</a>
  <a href="/tags/estrategia/" class="genric-btn primary-border e-large">Estrategia</a>
  <a href="/tags/fantasia/" class="genric-btn primary-border e-large">Fantasia</a>
  <a href="/tags/plataforma/" class="genric-btn primary-border e-large">Plataforma</a>
  <a href="/tags/rpg/" class="genric-btn primary-border e-large">RPG</a>
  <a href="/tags/shooter/" class="genric-btn primary-border e-large">Shooter</a>
  <a href="/tags/simulacion/" class="genric-btn primary-border e-large">Simulacion</a>
</aside>
