<div class="media post_item">
  <img src="{{ .Params.img }}" alt="{{ .Title }}" class="img-recent">
  <div class="media-body">
    <a href="{{ .RelPermalink }}">
      <h3>{{ .Title }}</h3>
    </a>
    <p>{{ partial "date.html" .Date }}</p>
  </div>
</div>
