<!--::header part start::-->
<header class="main_menu single_page_menu">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/"> <img src="/img/logo.png" alt="logo"> </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="menu_icon"><i class="fa fa-bars"></i></span>
          </button>

          <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  Plataformas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/tags/steam/">Steam</a>
                  <a class="dropdown-item" href="/tags/gog/">GOG</a>
                  <a class="dropdown-item" href="/tags/indiegala/">IndieGala</a>
                  <a class="dropdown-item" href="/tags/otros/">Otras</a>
                </div>
              </li>
            </ul>
          </div>
          <!-- <a href="#" class="btn_1 d-none d-sm-block">Install Now</a> -->
        </nav>
      </div>
    </div>
  </div>
</header>
