<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>~ LiNuXiToS ~</title>
  <link rel="icon" href="/img/logo.png" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/animate.css" />
  <link rel="stylesheet" href="/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/css/all.css" />
  <link rel="stylesheet" href="/css/flaticon.css" />
  <link rel="stylesheet" href="/css/themify-icons.css" />
  <link rel="stylesheet" href="/css/magnific-popup.css" />
  <link rel="stylesheet" href="/css/slick.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/patojad.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
    integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY="
    crossorigin="anonymous" />

  <!-- METADATA -->
  <meta name="author" content="PatoJAD" />
  <meta content='@PatoJADOficial' name='twitter:site'/>
  <meta content='@PatoJADOficial' name='twitter:creator'/>
  <meta property="og:url" content="https://linuxitos.patojad.com.ar{{ .RelPermalink }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:image" content='{{ if isset .Params "img" }}{{ .Params.img }}{{else}}https://linuxitos.patojad.com.ar/img/logo.png{{ end }}' />
  <meta property="og:locale" content="es-ES" />
  <meta
    name="description"
    content="{{ .Summary }} LiNuXiToS es una comunidad de la cual sus administradores permiten facilitar videojuegos, este blog no es oficial de esa comunidad pero refiere a su contenido. El blog solo proporciona informacion. El contido del canal no es propiedad de PatoJAD"
    property="og:description" />

  <meta content='{{ range .Params.tags }}{{ . }}, {{ end }} Linux, Juegos, linuxitos, LiNuXiToS' name='keywords' />

  <!-- CANONICAL LINK -->
  <link rel="canonical" href="https://patojad.com.ar{{ .RelPermalink }}"/>

  <!-- RSS -->
  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
</head>
