
    <aside class="single_sidebar_widget post_category_widget">
      <h4 class="widget_title">Category</h4>
      <ul class="list cat-list">
        <li>
          <a href="#" class="d-flex">
            <p>Resaurant food</p><p>(37)</p>
          </a>
        </li>
        <li>
          <a href="#" class="d-flex">
            <p>Travel news</p><p>(10)</p>
          </a>
        </li>
        <li>
          <a href="#" class="d-flex">
            <p>Modern technology</p><p>(03)</p>
          </a>
        </li>
        <li>
          <a href="#" class="d-flex">
            <p>Product</p><p>(11)</p>
          </a>
        </li>
        <li>
          <a href="#" class="d-flex">
            <p>Inspiration</p><p>21</p>
          </a>
        </li>
        <li>
          <a href="#" class="d-flex">
            <p>Health Care (21)</p><p>09</p>
          </a>
        </li>
      </ul>
    </aside>



    <aside class="single_sidebar_widget tag_cloud_widget">
      <h4 class="widget_title">Tag Clouds</h4>
      <ul class="list">
        <li><a href="#">project</a></li>
        <li><a href="#">love</a></li>
        <li><a href="#">technology</a></li>
        <li><a href="#">travel</a></li>
        <li><a href="#">restaurant</a></li>
        <li><a href="#">life style</a></li>
        <li><a href="#">design</a></li>
        <li><a href="#">illustration</a></li>
      </ul>
    </aside>


    <aside class="single_sidebar_widget instagram_feeds">
      <h4 class="widget_title">Instagram Feeds</h4>
      <ul class="instagram_row flex-wrap">
        <li>
          <a href="#">
            <img class="img-fluid" src="img/post/post_5.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img-fluid" src="img/post/post_6.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img-fluid" src="img/post/post_7.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img-fluid" src="img/post/post_8.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img-fluid" src="img/post/post_9.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img-fluid" src="img/post/post_10.png" alt="">
          </a>
        </li>
      </ul>
    </aside>


    <aside class="single_sidebar_widget newsletter_widget">
      <h4 class="widget_title">Newsletter</h4>

      <form action="#">
        <div class="form-group">
          <input type="email" class="form-control" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
        </div>
        <button class="button rounded-0 primary-bg text-white w-100 btn_1"
            type="submit">Subscribe</button>
      </form>
    </aside>
