.img-recent{
  height: 80px;
  width: 80px;
}

.card-flag{
  height: 20px;
}

.genric-btn.primary-border{
  color: #FF0000 !important;
}

.genric-btn.primary-border:hover{
  color: #FFFFFF !important;
}

.blog_details > ul > li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}

.blog_details > ul > li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #ff0000;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
}
